# Mac OS files
.DS_Store
# WIP files
*~
# Local development server
server.py
# Newsletter template
/newsletter/template/index.html
# Newsletter markdown files
/newsletter/**/*.md
# Newsletter build script
/newsletter/build.py
# Cursor debug logs
.cursor/