/*
 * HTML5 Boilerplate
 *
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 *
 * ==|== normalize ==========================================================
 */

/* =============================================================================
   HTML5 display definitions
   ========================================================================== */

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
nav,
section {
	display: block;
}
audio,
canvas,
video {
	display: inline-block;
	*display: inline;
	*zoom: 1;
}
audio:not([controls]) {
	display: none;
}
[hidden] {
	display: none;
}

/* =============================================================================
   Base
   ========================================================================== */

/*
 * 1. Correct text resizing oddly in IE6/7 when body font-size is set using em units
 * 2. Prevent iOS text size adjust on device orientation change, without disabling user zoom
 */

html {
	font-size: 100%;
	-webkit-text-size-adjust: 100%;
	-ms-text-size-adjust: 100%;
	scroll-behavior: smooth;
}

html,
button,
input,
select,
textarea {
	-webkit-font-smoothing: antialiased;
	font-family: Berkeley Mono, monospace;
	color: #dddddd;
}

body {
	margin: 0;
	font-size: 14px;
	line-height: 1.6;
	background-color: #000000;
}

/*
 * Remove text-shadow in selection highlight
 * These selection declarations have to be separate
 */

::-moz-selection {
	background: #ffffff;
	color: #000000;
	text-shadow: none;
}
::selection {
	background: #ffffff;
	color: #000000;
	text-shadow: none;
}

/* =============================================================================
   Links
   ========================================================================== */

a {
	color: #dddddd;
	outline: none;
	text-decoration: underline;
	text-underline-offset: 3px;
}
a:visited {
	color: #dddddd;
}
a:hover {
	color: #dddddd;
	opacity: 0.4;
}
a:focus {
	outline: none;
}

/* =============================================================================
   Typography
   ========================================================================== */

abbr[title] {
	border-bottom: 1px dotted;
}

b,
strong {
	font-weight: 700;
}

blockquote {
	margin: 1em 40px;
	font-size: 14px;
}

dfn {
	font-style: italic;
}

hr {
	display: block;
	height: 1px;
	border: 0;
	border-top: 1px dashed #161616;
	margin: 1em 0;
	clear: both;
}

ins {
	background: #ff9;
	color: #000;
	text-decoration: none;
}

mark {
	background: #ff0;
	color: #000;
	font-style: italic;
	font-weight: bold;
}

/* Redeclare monospace font family */
pre,
code,
kbd,
samp {
	font-family: "Berkeley Mono", monospace, serif;
	_font-family: "Berkeley Mono", "courier new", monospace;
	font-size: 1em;
}

/* Improve readability of pre-formatted text in all browsers */
pre {
	white-space: pre;
	white-space: pre-wrap;
	word-wrap: break-word;
}

q {
	quotes: none;
}
q:before,
q:after {
	content: "";
	content: none;
}

small {
	font-size: 85%;
}

/* Position subscript and superscript content without affecting line-height */
sub,
sup {
	font-size: 65%;
	line-height: 0;
	position: relative;
	vertical-align: baseline;
	opacity: 0.4;
}
sup {
	top: -0.5em;
}
sub {
	bottom: -0.25em;
}

/* =============================================================================
   Lists
   ========================================================================== */

ul,
ol {
	margin: 1em 0;
	padding: 0 0 0 40px;
}
dd {
	margin: 0 0 0 40px;
}
nav ul,
nav ol {
	list-style: none;
	list-style-image: none;
	margin: 0;
	padding: 0;
}

/* =============================================================================
   Tables
   ========================================================================== */

table {
	border-collapse: collapse;
	display: block;
	padding-bottom: 70px;
	width: 100%;
}
tr {
	padding: 0;
	margin: 0;
	border-top: 1px dashed #161616;
	border-bottom: 1px dashed #161616;
}
td {
	vertical-align: middle;
	padding: 15px 0 15px 0;
	line-height: 1.5;
}
td:first-of-type {
	min-width: 240px;
}
td:last-child {
	padding-right: 0;
	text-align: right;
	white-space: nowrap;
	min-width: 100px;
}

table a {
	text-decoration: none;
	display: block;
}

td.arrow {
	text-decoration: none;
	font-size: 22px;
	line-height: 0.6;
	min-width: 40px;
}

td:first-child {
	vertical-align: top;
}

.colophon td:last-child,
.awards td:last-child {
	padding-right: 0;
	text-align: left;
	white-space: wrap;
	min-width: 100px;
}

/* =============================================================================
   Chrome Frame Prompt
   ========================================================================== */

.chromeframe {
	margin: 0.2em 0;
	background: #ccc;
	color: black;
	padding: 0.2em 0;
}

/* ==|== primary styles =====================================================
   Author: Dan Newman
   ========================================================================== */

/* CUSTOM STYLES */

body {
	padding: 40px 60px 40px 60px;
	max-width: 2880px;
}

header {
	float: left;
	padding: 10px 0 40px 0;
}

nav {
	float: right;
}

nav ul {
	padding: 30px 0 0 0;
}

nav ul li {
	display: inline;
	font-size: 14px;
	padding-left: 120px;
}

nav a {
	color: #ffffff;
	text-decoration: none;
	opacity: 0.8;
}

nav a:hover {
	opacity: 0.4;
	text-decoration: none;
}

nav li.label {
	text-transform: uppercase;
	opacity: 0.3;
}

.menu {
	display: none;
}

.intro {
	max-width: 900px;
	padding: 60px 0 0 0;
}

.copy {
	max-width: 600px;
}

.tables {
	padding-top: 80px;
}

.image {
	padding: 0 0px 70px 0;
}

.block {
	padding-bottom: 70px;
}

.tdu {
	/* ASCII */
	font-size: 28px;
	line-height: 1.1;
	margin: 0;
	padding: 0 0 15px 0;
}

img {
	padding: 0 0 10px 0;
}

p {
	color: #dddddd;
	margin: 0 0 12px 0;
}

p.caption {
	font-size: 12px;
	opacity: 0.5;
}

h1 {
	font-weight: 400;
	font-size: 40px;
	line-height: 56px;
	padding: 0;
	margin: 0;
}

h2,
h3 {
	font-weight: 400;
	font-size: 12px;
	line-height: 16px;
	padding: 0 0 16px 0;
	margin: 0;
	text-transform: uppercase;
	opacity: 0.3;
}

.intro h3 {
	font-size: 24px;
	line-height: 1.6;
	text-transform: none;
	opacity: 1;
}

.untitled {
	font-family: Untitled Sans;
	font-size: 16px;
}

.row {
	display: flex;
}

.column-50 {
	display: flex;
	flex: 50%;
	margin-right: 60px;
}

.column-50:last-child {
	margin-right: 0;
}

.column-25 {
	margin-right: 60px;
	flex: 25%;
}

.column-25:last-child {
	margin-right: 0;
}

.opacity {
	opacity: 0.5;
}

.opacity-dark {
	opacity: 0.3;
}

.opacity-light {
	opacity: 0.7;
}

h3.uppercase,
.uppercase {
	text-transform: uppercase;
}

p.large {
	font-size: 24px;
	padding-bottom: 5px;
}

.logo {
	padding: 20px 0 20px 0;
}

.logo svg {
	width: 100px;
	padding-bottom: 10px;
}

.zero {
	font-variant-numeric: slashed-zero;
}

.list {
	padding: 10px 0 40px 0;
}

.desktop {
	display: none;
}

.no-wrap {
	white-space: nowrap;
}

.hover {
	text-decoration: none;
}

a.highlight,
.highlight {
	color: #aaff00;
}

.form {
	max-width: 100%;
	padding: 0 0 46px 0;
}

form {
	display: flex;
	width: 100%;
	padding: 0 0 10px 0;
}

.form input {
	font-size: 14px;
	font-weight: 400;
	border-radius: 0;
}

.email {
	flex: 1;
	padding: 12px 16px 12px 16px;
	margin-right: 10px;
	color: #000;
	background-color: #fff;
	border: 1px solid #fff;
}

::placeholder {
	color: #666;
}

input:focus {
	outline: none;
	background-color: #f9f9f9;
	border: 1px solid #ccc;
}

.subscribe {
	color: #000;
	background-color: #aaff00;
	border: 1px solid #aaff00;
	padding: 12px 32px 12px 32px;
}

.subscribe:hover {
	opacity: 0.8;
	cursor: pointer;
}

.disclaimer {
	max-width: 600px;
	padding: 20px 0 10px 0;
}

footer {
	max-width: 620px;
	padding: 40px 0 0 0;
}

footer .top {
	font-size: 40px;
	margin: 0;
}

.back {
	padding: 0 0 20px 0;
}

/* ==|== media queries ======================================================
   EXAMPLE Media Query for Responsive Design.
   This example overrides the primary ('mobile first') styles
   Modify as content requires.
   ========================================================================== */
@media only screen and (max-width: 2660px) {
	.column-50 {
		display: block;
		flex: 100%;
	}
	.column-25 {
		margin: 0;
	}
	td:first-of-type {
		min-width: 260px;
	}
	nav ul li {
		padding-left: 100px;
	}
	.tdu {
		font-size: 22px;
	}
	.form {
		max-width: 90%;
	}
}
@media only screen and (max-width: 1680px) {
	.tdu {
		font-size: 32px;
	}
}
@media only screen and (max-width: 1530px) {
	td:first-of-type {
		min-width: 220px;
	}
	.tdu {
		font-size: 26px;
	}
}
@media only screen and (max-width: 1400px) {
	.row {
		display: block;
		width: 100%;
	}
	.column-50 {
		display: block;
		flex: 100%;
		margin: 0;
	}
	.column-25 {
		display: block;
		flex: 100%;
		margin: 0;
	}
	td:first-of-type {
		min-width: 360px;
	}
	.form {
		max-width: 80%;
	}
}
@media only screen and (max-width: 1200px) {
	td:first-of-type {
		min-width: 240px;
	}
	nav ul li {
		padding-left: 20px;
	}
	body {
		font-size: 12px;
		padding: 20px 20px;
	}
	.untitled {
		font-size: 14px;
	}
	.form input {
		font-size: 12px;
	}
	.form {
		max-width: 60%;
	}
	.intro h3,
	p.large {
		font-size: 16px;
	}
	td:first-of-type {
		min-width: 200px;
	}
	td {
		min-width: 200px;
	}
	td:last-child {
		min-width: 30px;
	}
	h1 {
		font-size: 24px;
		line-height: 32px;
	}
	h2,
	h3 {
		font-size: 10px;
	}
	header {
		padding-bottom: 10px;
	}
	/* Mobile Menu */
	header,
	nav {
		float: none;
	}
	nav ul {
		display: none;
		padding-top: 0px;
	}
	nav ul li {
		padding-left: 0px;
	}
	.menu {
		display: inline;
	}
	.mobile ul {
		overflow: hidden;
		position: relative;
		margin-top: 12px;
		margin-bottom: 40px;
		border-top: 1px dashed #161616;
	}
	.mobile ul li {
		display: block;
		font-size: 12px;
	}
	.mobile ul li.link {
		font-size: 16px;
	}
	.mobile li.title {
		font-size: 10px;
		opacity: 0.3;
		text-transform: uppercase;
		padding: 33px 0 15px 0;
	}
	.mobile a {
		display: block;
		line-height: 1.8em;
	}
	.mobile a i.icon {
		display: block;
		position: absolute;
		right: 20px;
		top: 40px;
	}
	.mobile li.logo {
		padding-top: 100px;
		display: block;
	}
	.mobile li.inline {
		padding: 0 0 4px 0;
	}
	.mobile li.inline a {
		display: inline;
	}
	/* ---- */
	.intro {
		padding-top: 20px;
	}
	p.caption,
	.caption {
		font-size: 10px;
	}
	table {
		font-size: 12px;
	}
	.subscribe {
		padding: 12px 16px 12px 16px;
	}
	.tdu {
		font-size: 14px;
	}
	.logo svg {
		width: 80px;
	}
	.tablet {
		display: inline;
	}
	.logo {
		padding-bottom: 10px;
	}
	.list {
		padding: 10px 0 20px 0;
	}
	footer {
		padding-top: 60px;
		padding-bottom: 40px;
	}
}
@media only screen and (max-width: 800px) {
	.form {
		max-width: 80%;
	}
}
@media only screen and (max-width: 560px) {
	td:first-of-type {
		min-width: 130px;
	}
	.hide {
		display: none;
	}
	.desktop {
		display: inline;
	}
	.form {
		max-width: 100%;
	}
	footer .desktop {
		display: block;
	}
}

@media only screen and (max-width: 420px) {
	h1 {
		font-size: 20px;
		line-height: 28px;
	}
}

/* ==|== non-semantic helper classes ========================================
   Please define your styles before this section.
   ========================================================================== */

/* For image replacement */
.ir {
	display: block;
	border: 0;
	text-indent: -999em;
	overflow: hidden;
	background-color: transparent;
	background-repeat: no-repeat;
	text-align: left;
	direction: ltr;
	*line-height: 0;
}
.ir br {
	display: none;
}

/* Hide from both screenreaders and browsers */
.hidden {
	display: none !important;
	visibility: hidden;
}

/* Hide only visually, but have it available for screenreaders */
.visuallyhidden {
	border: 0;
	clip: rect(0 0 0 0);
	height: 1px;
	margin: -1px;
	overflow: hidden;
	padding: 0;
	position: absolute;
	width: 1px;
}

/* Extends the .visuallyhidden class to allow the element to be focusable when navigated to via the keyboard */
.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
	clip: auto;
	height: auto;
	margin: 0;
	overflow: visible;
	position: static;
	width: auto;
}

/* Hide visually and from screenreaders, but maintain layout */
.invisible {
	visibility: hidden;
}

/* Contain floats: h5bp.com/q */
.clearfix:before,
.clearfix:after {
	content: "";
	display: table;
}
.clearfix:after {
	clear: both;
}
.clearfix {
	*zoom: 1;
}

/* ==|== print styles =======================================================
   Print styles.
   Inlined to avoid required HTTP connection
   ========================================================================== */

@media print {
	* {
		background: transparent !important;
		color: black !important;
		box-shadow: none !important;
		text-shadow: none !important;
		filter: none !important;
		-ms-filter: none !important;
	} /* Black prints faster: h5bp.com/s */
	a,
	a:visited {
		text-decoration: underline;
	}
	a[href]:after {
		content: " (" attr(href) ")";
	}
	abbr[title]:after {
		content: " (" attr(title) ")";
	}
	.ir a:after,
	a[href^="javascript:"]:after,
	a[href^="#"]:after {
		content: "";
	} /* Don't show links for images, or javascript/internal links */
	pre,
	blockquote {
		border: 1px solid #999;
		page-break-inside: avoid;
	}
	thead {
		display: table-header-group;
	}
	tr,
	img {
		page-break-inside: avoid;
	}
	img {
		max-width: 100% !important;
	}
	@page {
		margin: 0.5cm;
	}
	p,
	h2,
	h3 {
		orphans: 3;
		widows: 3;
	}
	h2,
	h3 {
		page-break-after: avoid;
	}
}

/* ==|== font styles =====================================================
   Fonts: Berkley Mono by U.S. Graphics
   ========================================================================== */

/* Mono */
@font-face {
	font-family: "Berkeley Mono";
	font-style: normal;
	font-weight: 400;
	font-display: block;
	src: url("/fonts/berkeley-mono.woff2") format("woff2");
}

/* ==|== font styles =====================================================
   Fonts: Untitled Collection by Klim Type Foundry
   ========================================================================== */

/* Sans */
@font-face {
	font-family: "Untitled Sans";
	font-style: normal;
	font-weight: 400;
	font-display: block;
	src: url("/fonts/untitled-sans-regular.woff2") format("woff2");
}

@font-face {
	font-family: "Untitled Sans";
	font-style: normal;
	font-weight: 700;
	font-display: block;
	src: url("/fonts/untitled-sans-bold.woff2") format("woff2");
}
